@font-face {
    font-family: 'Pompei Std';
    src: url('PompeiStd-Regular.woff2') format('woff2'),
        url('PompeiStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

